logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
build_err2.txt
build_err.txt
backend/package-lock.json
package-lock.json
backend/tsc_output.txt

# Python cache
__pycache__/
*.pyc
*.pyo
